body{
	background: url('../images/theatre2.jpg') no-repeat;
	background-size: 100% 125%;
}

h1{		
	/*TODO CAMBIAR LA FUENTE!! Y bajar? alinear con la claqueta?*/
	color:white;
	text-align:center; 
 }

#login-background
{
	margin-top: 100px;
	margin-left:auto;
	margin-right:auto;
    height: 330px;
	width: 450px;
    background: url('../images/CLAQUETA.png') no-repeat;
    position: relative;
    box-shadow: 20px 20px 15px black;
}
#login{
	display: inline-block;
	padding-top: 100px;
	padding-left: 110px;
   	color:white;
}

#entrar {
	font-family:Helvetica, sans-serif, Arial;
	display: inline-block;
	position: absolute;
	height: 25px;
	right: 15px;
    bottom: 15px;
	background: url('../images/black-gradient.png') repeat-x;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    padding: 3px 8px 6px 8px;
	box-shadow: 4px 4px 4px #1c1a19;
	color: white;
	text-decoration: none;
}