<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    Brand and toggle get grouped for better mobile display
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    Collect the nav links, forms, and other content for toggling
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>/.navbar-collapse
  </div>/.container-fluid
</nav> -->

    <h1>
        Hello <span sec:authentication="name">user</span>
    </h1>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/manage_users}">Manage users</a>
        <a th:href="@{/new_movie}">Create movie</a>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>

	<form class="navbar-form navbar-left" role="search" th:action="@{/search_result}" method="get">
	  <div class="form-group">
	    <input type="text" class="form-control" name="movie_name" placeholder="Search"/>
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
    
    <br/>
    
<div class="row">
  <div class="col-sm-6 col-md-3" th:each="movie : ${movies}">
    <div class="thumbnail">
    	<a href="@{/watch_movie}" th:href="@{/watch_movie(id=${movie.getId()})}">
      		<img th:src="${movie.getUrlCoverFilm()}" alt="Cover de la portada" height="268px" width="182px"/>
      	</a>
      <div class="caption">
        <h4>
        	<a href="@{/watch_movie}" th:href="@{/watch_movie(id=${movie.getId()})}" th:text="|${movie.getName()}|">Película</a>
        </h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        	
        <a th:href="@{/watch_movie(id=${movie.getId()})}" class="btn btn-primary" role="button">Ver Info</a>	
		<div sec:authorize="hasRole('ROLE_ADMIN')" clearfix="">
			<a th:href="@{/edit_movie(id=${movie.getId()})}" class="glyphicon glyphicon-edit" role="button" pull-right=""></a>
			<a th:href="@{/delete_movie(id=${movie.getId()})}" class="glyphicon glyphicon-remove text-danger" role="button" pull-right=""></a>
		</div>
      </div>
    </div>
  </div>
</div>
 	 
</body>
</html>
