<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Panel de Administración - Usuarios</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Gestionar Usuarios</h1><br />
		<h2>CRUD de los Usuarios</h2><br />
			<a th:href="@{/new_user}">Crear Usuario</a>
			
		<h2>Usuarios</h2>

		<div class="container">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th>Usuario</th>
			      <th>Contraseña</th>
			      <th>Correo</th>
			      <th>Acción</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="user : ${users}">
			      <td th:text="|${user.getUser()}|">username</td>
			      <td th:text="|${user.getPasswordHash()}|">password</td>
			      <td th:text="|${user.getEmail()}|">mail@mail.com</td>
			      <td>
					<a th:href="@{/edit_user(id=${user.getId()})}">
					<button type="button" class="btn btn-primary" aria-label="Left Align">
					  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</button>
				 	</a>
				 	
					<a th:href="@{/warning_user(id=${user.getId()})}">
					<button type="button" class="btn btn-danger" aria-label="Left Align">
					  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				 	</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</body>
</html>

           

