<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Panel de Administración - Usuarios</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Usuario</h1><br />
		<h2 th:text="${user.getUser()}">Username</h2><br />
		<p th:text="${user.getPasswordHash()}">password</p>
		<p th:text="${user.getEmail()}">email</p>
	    
		<a th:href="@{/edit_user(id=${user.getId()})}" th:each="user : ${users}">
			<button type="button" class="btn btn-default" aria-label="Left Align">
			  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</button>
	 	</a>
		 	
		<a th:href="@{/delete_user(id=${user.getId()})}" th:each="user : ${users}">
			<button type="button" class="btn btn-default" aria-label="Left Align">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
	 	</a>
	 	
	</body>
</html>