<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Filmaholic</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link href="css/sticky-footer-navbar.css" rel="stylesheet"/>
		<link rel="icon" href="images/movie.ico"/>
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>

	<body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/home}">Filmaholic</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a th:href="@{/home}">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                Home
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" th:action="@{/home}" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" name="search" placeholder="Buscar película"/>
                        </div>
                        <button type="submit" class="btn btn-default">Buscar</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                                <span sec:authentication="name">user</span> 
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-header">Acciones admin</li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/new_movie}">Crear Película</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/manage_users}">Gestionar Usuarios</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')" role="separator" class="divider"></li>
                                <li>
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-link" type="submit">Sign Out</button>
                                </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    	<!-- Page content -->
		<div class="container">
      		<div class="page-header">
        		<h1>
        			<span th:text="${movie.getName()}">movie name</span>
        			<span th:text="|(${movie.getYear()})|">movie year</span>
        			<span th:text="${movie.getRating()}">movie rating</span>
        		</h1>
      		</div>

		    <div class="row">
		    	<div class="pull-right">
				    <div sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/edit_movie(id=${movie.getId()})}">
							<button type="button" class="btn btn-primary" aria-label="Left Align">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
					 	</a>
					 	
						<a th:href="@{/warning_movie(id=${movie.getId()})}">
							<button type="button" class="btn btn-danger" aria-label="Left Align">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
					 	</a>
				 	</div>
		    	</div>
		    </div>
	    
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive center-block" th:src="${movie.getUrlCoverFilm()}"/>
				</div>
			  	<div class="col-md-8">
					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#descripcion" data-toggle="tab">Sinopsis</a></li>
						<li class=""><a href="#ficha_tecnica"  data-toggle="tab">Ficha técnica</a></li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane fade in active" id="descripcion"><br/>
							<p th:text="${movie.getDescription()}">description</p>	
						</div>
						
						<div class="tab-pane fade" id="ficha_tecnica">
							<dl class="dl-horizontal"><br/>
								<dt>Título original:</dt><dd th:text="${movie.getName()}">movie name</dd>
								<dt>Año:</dt><dd th:text="${movie.getYear()}">year</dd>
								<dt>Duración:</dt><dd th:text="${movie.getDuration()}">movie length</dd>
								<dt>Director:</dt><dd th:text="${movie.getDirector()}">director</dd>
								<dt>Escritor:</dt><dd th:text="${movie.getWriter()}">writer</dd>
								<dt>Reparto:</dt><dd th:text="${movie.getActors()}">actors</dd>
								<dt>Género:</dt><dd th:text="${movie.getGenre()}">genre</dd>
							</dl>
						</div>
					</div>
			  	</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="816" height="459" th:src="${movie.getUrlMovie()}" frameborder="1" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
			<hr/>
		</div>
    	<!-- End of page content -->

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">© 2016. Derechos reservados. Powered by alexander - inés (DAW)</p>
            </div>
        </footer>

	</body>
</html>